h1 {
  font-size: 50px;
}

img.center {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

div.divider {
  border-bottom: solid;
  border-width: 2px;
}

div.inline {
  display: inline;
}
